a {
    color: #E62D2C;
}

a:hover, a:focus {
    color: #A80605;
}

.mainMenu li a:hover {
    background-color: #E62D2C;
    color: whitesmoke;
}

.secHeader h1 {
    color: #E62D2C;
}

.hexa-a {
    color: #E62D2C;
}
.hexagon-a a.hlinktop:hover .hexa-a {
    background: #E62D2C;
    color: #fff;
}
.hexa {
    background: #E62D2C;
}

.btn-primary {
    background-color: #E62D2C;
    border-color: #E62D2C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #A80605;
    border-color: #7E100F;
}