/**
 * Created by davin.bao on 14-4-24.
 */
body {
  padding: 60px 0;
}

/**
 * Left menu
 */
.accordion-inner {
    padding: 0px;
}
.left-menu-nav {
    list-style: none;
    padding: 0px;
    margin:0px;
}
.left-menu-nav li {
    line-height: 35px;
}
.left-menu-nav li.active {
    background-color: #0088cc;
}
.left-menu-nav li a {
    padding-left: 50px;
}
.left-menu-nav li.active a {
    color: #ffffff;
}
.left-menu-nav li a i{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

/**
 * Form
 */
form .tab-content input {
    margin: 5px;
}
form .tab-content select {
    margin: 5px;
}